.h1 {
    color: goldenrod;
}

.h2 {
    color: darkblue;
}

.h3 {
    color: cyan;
}

.h4 {
    color: darkorchid;
}

.h5 {
    color:  burlywood;
}

.h6 {
    color: crimson;
}